{% extends "photo_blog/base.html" %}
{% block content %}

<div class="content">
{% for notification in object_list reversed %}
  {% if notification.comment %}
    {% if notification.post.author == user %}
      <div class="media-body">
        <div class="article-metadata">
          <img class='rounded-circle article-img'src="{{ notification.comment.author.profile.image.url }}" height="50" width="50">
          <a class="black-link" href="{% url 'photo_blog-profile' notification.comment.author.username %}">{{ notification.comment.author }}</a>
          commented at {{ notification.comment.date_posted }}:
          <p class="ml-5">
            "{{ notification.comment.text }}"
            on your
            <a class="black-link" href="{% url 'photo_blog-detail' notification.post.id %}">post.</a>
          </p>
          </br>
        </div>
      </div>
    {% endif %}
  {% elif notification.liked %}
    {% if notification.post.author == user %}
      {% if notification.user != user %}
        <div class="media-body">
          <div class="article-metadata">
            <img class='rounded-circle article-img'src="{{ notification.user.profile.image.url }}" height="50" width="50">
            <a class="black-link" href="{% url 'photo_blog-profile' notification.user.username %}">{{ notification.user }}</a>
            liked your
            <a class="black-link" href="{% url 'photo_blog-detail' notification.post.id %}">post.</a>
            </br>
            </br>
            </br>
          </div>
        </div>
      {% endif %}  
    {% endif %}
  {% endif %}
{% endfor %}
</div>

{% endblock %}
