{% extends "photo_blog/base.html" %}
{% block content %}

<div class="content">
{% for notification in object_list %}
  {% if notification.comment %}
    {% if notification.post.author == user %}
      <div class="media-body">
        <div class="article-metadata">
          <img class='rounded-circle article-img'src="{{ notification.comment.author.profile.image.url }}" height="50" width="50">
          <a class="black-link" href="{% url 'photo_blog-profile' notification.comment.author.username %}">{{ notification.comment.author }}</a>
          commented
          "{{ notification.comment.text }}"
          on your
          <a class="black-link" href="{% url 'photo_blog-detail' notification.post.id %}">post.</a>
          </br>
          </br>
    {% endif %}
  {% endif %}
  {% if notification.like %}
  {% endif %}
{% endfor %}
</div>

{% endblock %}
