{% extends "photo_blog/base.html" %}
{% block content %}

<script type="text/javascript">
  window.USER_LIKE_URL = "{% url 'photo_blog-post_like_api' post.id %}";
</script>
<div class="content">
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div>
          <img class='rounded-circle article-img crop'src="{{ post.author.profile.image.url }}" height="50" width="50">
          <a class="black-link" href="{% url 'photo_blog-profile' post.author.username %}">{{ post.author }}</a>
          {% if post.location %}
          <small>{{post.location}}</small>
          {% endif %}
        </div>
        <img class="img-fluid img-thumbnail" src="{{ post.photo.url }}">
        {% if user in post.likes.all %}
          <a id=imageElement{{post.id}}  onclick="toggleLike({{post.id}})"><img src="/media/nav_buttons/liked.svg" height="17" width="17"></a>
        {% else %}
          <a id=imageElement{{post.id}}  onclick="toggleLike({{post.id}})"><img src="/media/nav_buttons/unliked.svg" height="17" width="17"></a>
        {% endif %}
        <a href="{% url 'photo_blog-comment' post.id %}"><img src="/media/nav_buttons/comment.svg" height="17" width="17"></a></br>
        {% if post.likes.count != 0 %}
          <a id=likeCount{{post.id}} class="black-link-plain mb-3" href="{% url 'photo_blog-post_likes' post.id %}">{{post.likes.count}} likes</a>
        {% endif %}
        <a id=likeCount{{post.id}} class="black-link-plain mb-3" href="{% url 'photo_blog-post_likes' post.id %}"></a>
        <p>
          <a class="black-link" href="{% url 'photo_blog-profile' post.author.username %}">{{ post.author }}</a>
          {{ post.caption }}
        </p>
      </div>
      <div class="comment">
        {% for comment in post.comments.all %}
        <p>
          <a class="black-link" href="{% url 'photo_blog-profile' comment.author.username %}">{{ comment.author }}</a>
          {{ comment.text }}
          {% if comment.author == user %}
            <a href="{% url 'photo_blog-delete_comment' comment.id %}"><img src="/media/nav_buttons/trash.png" height="20" width="20"></a>
          {% endif %}
          </br><small>{{ comment.date_posted|date:'F d, Y' }}</small>
        </p>
          {% empty %}
          There are no comments on this post.
        {% endfor %}
      </div>
      <div>
        <a href="{% url 'photo_blog-comment' post.id %}">Add Comment</a>
      </div>
      <div>
        <small>{{ post.date_posted|date:'F d, Y' }}</small>
      </div>
      <div>
        {% if post.author == user %}
        <a class ="btn" href="{% url 'photo_blog-delete' post.id %}">Delete Post</a>
        <a class ="btn" href="{% url 'photo_blog-update' post.id %}">Edit Post</a>
        {% endif %}
      </div>
  </article>
</div>
{% endblock %}
