{% extends "photo_blog/base.html" %}
{% block content %}

<script type="text/javascript">
  function toggleFollow(){
        $.ajax({
          url: "{% url 'user_follow' view.kwargs.username %}",
          data: {},
          dataType: "json",
          success: function(data) {
            $("#followCount").html(data.follower_count + ' Followers');
            $('#followElement').replaceWith(data.button);
          }
        });
  };
</script>

<div class="content">
  <div class="">
    {% with posts|first as post %}
      <center>
        <img class="rounded-circle" src="{{ post.author.profile.image.url }}">
        <h5>{{ view.kwargs.username }}</h5>
        <a id=followCount class="black-link" href="{% url 'user_followers' view.kwargs.username %}">{{post.author.profile.followers.count}} Followers</a></br>
        {% if post.author.profile.bio %}
          {{ post.author.profile.bio }}</br>
        {% endif %}
        {% if post.author.profile.website %}
          <a href="{{ post.author.profile.website }}">{{ post.author.profile.website }}</a></br>
        {% endif %}
        </br>
        {% if post.author == user %}
          <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'edit_profile' %}">Edit Profile</a>
          <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'logout' %}">Logout</a>
        {% elif user in post.author.profile.followers.all %}
          <button id="followElement" class="btn btn-secondary btn-sm mt-1 mb-1" onclick="toggleFollow()">Unfollow</button>
        {% elif user not in post.author.profile.followers.all %}
          <button id="followElement" class="btn btn-secondary btn-sm mt-1 mb-1" onclick="toggleFollow()">Follow</button>
        {% endif %}
      </center>
    {% endwith %}
  </div>
  </br>
  <div>
    {% for post in posts %}
    <a href="{% url 'photo_blog-detail' post.id %}"><img class="crop" width="147" height="147" src="{{ post.photo.url }}"></a>
    {% endfor %}
  </div>
</div>
{% if post.author == user %}
  <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'edit_profile' %}">Edit Profile</a>
  <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'logout' %}">Logout</a>
{% endif %}

{% endblock %}
