body {

  margin: 0px;
  overflow-x: hidden;


}

.content {

    max-width: 450px;
    margin: auto;
}

.black-link{

  color:black;
  font-weight: bold;

}

.black-link-plain{

  color:black;

}

.footer {

    height:50px;
    width: 100%;
    background-color: white;
    background-image: none;
    background-repeat: repeat;
    background-position: 0% 0%;
    border-top: .5px solid #F5F5F5;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    -webkit-box-shadow: 0px -1.5px 1.5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -1.5px 1.5px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1.5px 1.5px rgba(50, 50, 50, 0.75);

}

.footer_contents {

    height:50px;
    width: 100%;
    margin:auto;

}

.button {
  background-image: url(media/nav_buttons/unlike.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 17px;
  width: 17px;
  border: none;
}

.white-button{

  background-color: transparent;
  border-color: transparent;

}

.nav {

  width: 100%;
  position: absolute;

}

.crop{

  object-fit: cover;

}
