{% extends "photo_blog/base.html" %}
{% block content %}

<div class="content">
  <center>
    <h4><a class="black-link-plain" href="{% url 'photo_blog-profile' view.kwargs.username %}">{{ view.kwargs.username }}</a></h4>
  </center>
  <a href="{% url 'direct_messages-new' %}">New Message</a>
  |
  <a href="{% url 'direct_messages-inbox' %}">Inbox</a>
  </br>
  </br>
  {% if object_list %}
    {% for direct_message in object_list reversed %}
      <img class='rounded-circle article-img mt-1 crop' src="{{ direct_message.sender.profile.image.url }}" height="50" width="50">
      <a class="black-link" href="{% url 'photo_blog-profile' direct_message.sender.username %}">{{ direct_message.sender }}</a>
      {{ direct_message.date_sent }}
      </br>
      {{ direct_message.content }}
      </br>
      {% if direct_message.sender == user %}
        <a class="nav-item nav-link" href="{% url 'direct_messages-delete' direct_message.id %}"><img src="/media/nav_buttons/trash.png" height="20" width="20"></a>
        </br>
      {% else %}
        </br>
        </br>
      {% endif %}
    {% endfor %}
  {% else %}
      You haven't sent or received any messages yet.
  {% endif %}
</div>

{% endblock %}
